{% extends 'header.html'%}
{% block content  %}
<div class="container">
  <div class="bbox">
   <div class="bloger">
    <img class="avatar" src="{{prof.user.profile.image.url}}" height="130" width="190">
    <a href="{% url 'tb' prof.user_id %}"><h6 style="color:blue;">Bloger:{{prof.user}}</h6></a>
    <P>Email:{{prof.user.email}}</p>
    <P>Hobby:{{prof.user.profile.hobbies}}</p>
    <P>Fav. Quote:{{prof.user.profile.quotes}}</p>
  </div>
  <div class="detail">
    <p>Published on: {{prof.date}}</p>
    <a href="{%url 'category' prof.category%}"><h3 style="color:blue;">Category: {{prof.category}}</h3></a>
    <h3>{{prof.heading}}</h3>
   
    
  </div>
</div>
<img src="{{prof.pic.url}}" height="400" width="100%"><br><br>

<p style="text-align: justify;">{{prof.blog}}</p>

</div>
{% endblock  %}