{% include 'header.html'%}

    <div class="reg">
        <h3>Update Profile</h3>
        {% block content %}
        <form action="edit" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{form.as_p}}
            <label for="tel">Phone: </label>
            <input type="number" name="phone_num" placeholder="Phone"><br><br>
            <label for="img">Avatar:</label>
            <input type="file" id="img" name="img" accept="image/*"><br><br>
            <input id="mbutton" type="submit" value='Save'/><br>
        </form>
        {% endblock %}
    </div>
