{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Market</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/market.css' %}">

    

</head>

<body>
    <nav class="navbar navbar-inverse" style="height: 65px;background-color:rgb(54, 72, 88);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png' %}" height="44" width="150"></a>
            </div>
            <ul class="nav navbar-nav  navbar-right">
             <li class="active"><a href="/home">Home</a></li>
                {% if user.is_authenticated %}
               
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile">View Profile</a></li>
                        <li><a href="/edit">Edit Profile</a></li>
                    </ul>
                </li>
                <li class="hello">Hello, {{user.username}}</li>
                <li><a href="/logout">Logout</a></li>
                {% else %}
            </ul>
        </div>
            
            {% endif %}

        
    </nav>

    <script src="{% static '/js/customer.js' %}" type="text/javascript"></script>
    {% block content  %}

    <div class="container">





    </div>

    {% endblock  %}
</body>

</html>