{% extends 'header.html'%}
{% block content  %}
<div class="container">
<h2 style="text-align: center;font-size:280%; color:red;">Welcome To Trending Tech Blog</h2>
{% for blg in blg %}
<h3 style="text-align: center;color:blue;">Blog#:{{blg.id}} Category:  {{blg.category}}</h3>
 <h3 style="text-align: center;">{{blg.heading}}</h3>
  <h3 style="text-align: center;"> Bloger: {{blg.creater}}</h3>
 <img src="{{blg.pic.url}}" height="400" width="100%"><br><br>
  
  <p style="text-align: justify;" >{{blg.blog}}</p>    
  {% endfor%}  
</div>

<h3>{{prof.quotes}}</h3>



{% endblock  %}