{% extends 'header.html'%}
{% block content  %}
<div class="container">
<h2 style="font-size:280%; color:red;text-align:center;">Welcome To Trending Tech Blog</h2>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/category/Science%20&%20Education">Science & Education</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/Travel">Travel</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/Gadgets">Gadgets</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/History">History</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/Politics">Politics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/Farming">Farming</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/Sports">Sports</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/category/Other">Other</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
{% for blg in blg %}
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{% url 'blog' blg.id %}">
        <img src="{{blg.pic.url}}" alt="Nature" style="width:100%"></img>
        <div class="caption">
           <p style="color:black">{{blg.heading}}</p>
        </div>
      </a>
    </div>
  </div>

  {% endfor%}  

</div>
</div>
</div>
{% endblock  %}