{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/market.css' %}">
</head>

<body>
    <div class="nav">
        <ul>
            <img class="img" src="{% static 'images/logo.png' %}" height="54" width="150">
            {% if user.is_authenticated %}
            <li><a href="/logout">logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="hello">Hello, {{user.username}}</li>
            {% else %}
            <li><a href="/userlogin">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% endif %}
            <li><a href="home">Home</a></li>
        </ul>
    </div>
    <div class="reg">
        <form>
            {% csrf_token %}
            {% if user.is_authenticated %}
            <img src="{{user.profile.image.url}}" height="150" width="150"><br>
            <label for="first_name">First name: </label>
            <output type="text">{{user.first_name}}</output><br>
            <label for="last_name">Last name: </label>
            <output type="text">{{user.last_name}}</output><br>
            <label for="username">Username: </label>
            <output type="text">{{user.username}}</output><br>
            <label for="email">E-mail: </label>
            <output type="text">{{user.email}}</output><br><br><br>
            {% endif %}
            <a id="mbutton" href="/edit">Edit Profile</a>
        </form> 
    </div>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    
</body>

</html>