{% include 'header.html'%}

    <div class="reg">
       
            {% csrf_token %}
            {% if user.is_authenticated %}
            <img class="avatar" src="{{user.profile.image.url}}" height="50" width="50"><br>
            <label for="first_name">First name: </label>
            <output type="text">{{user.first_name}}</output><br>
            <label for="last_name">Last name: </label>
            <output type="text">{{user.last_name}}</output><br>
            <label for="username">Username: </label>
            <output type="text">{{user.username}}</output><br>
            <label for="email">E-mail: </label>
            <output type="text">{{user.email}}</output><br><br><br>
            <label for="quote">My Quote: </label>
            <output type="text">{{user.profile.quotes}}</output><br><br><br>
            {% endif %}
            <a id="mbutton" onclick="return myEdit();" href="/edit" >Edit Profile</a>
           <a id="mbutton" href="/destroy">Delete Profile</a>
    </div>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    