{% extends 'header.html'%}
{% block content  %}
<div class="container">
<h2 style="text-align: center;font-size:280%; color:red;">Blog Category: Farming</h2><br>
<div class="row">
{% for cat in cat %}
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="{% url 'blog' cat.id %}">
        <img src="{{cat.pic.url}}" alt="Nature" style="width:100%"></img>
        <div class="caption">
           <p style="color:black">{{cat.heading}}</p>
        </div>
      </a>
    </div>
  </div>

  {% endfor%}  

</div>
</div>
</div>
{% endblock  %}