{% extends 'header.html'%}

{% block content  %}

<form method="POST" class="post-form" enctype="multipart/form-data">  
        {% csrf_token %}  
        {{ form.as_p }}  
        <button type="submit" class="save btn btn-default">Save</button>  
</form>



    prof = User.profile.objects.get(id=pk)



    @receiver(post_save, sender=User)
def create_user_profile(sender, instance, created, **kwargs):
    if created:
        Profile.objects.create(user=instance)

@receiver(post_save, sender=User)
def save_user_profile(sender, instance, **kwargs):
    instance.profile.save()


{% endblock %}


My Notes-

<ul class="nav navbar-nav navbar-right">
                <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/userlogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>















             <div class="form-group">
            <label for="first_name">First name: </label>
            <input type="text" name="first_name" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="last_name">Last name: </label>
            <input type="text" name="last_name" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">E-mail: </label>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="form-group">

            <label for="password1">Password: </label>
            <input type="password" name="password1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="password2">Confirm: </label>
            <input type="password" name="password2" placeholder="Confirm Password">
        </div>
        
            <input id="mbutton" type="submit" value="Save" />
    </form>
</div>

<div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>


{% endblock %}