{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/market.css' %}">
    <link img src="{% static 'images/pic_bulboff.gif' %}">
    
   
</head>
<body>
    
        
        <img id="myImage" src="pic_bulboff.gif" width="100" height="180">
        
        <p>
        <button type="button" onclick="light(1)">Light On</button>
        <button type="button" onclick="light(0)">Light Off</button>
        </p>
</body>
</html>