{% include 'header.html'%}
    <div class="reg">
    <form action="userlogin" method="post">
        {% csrf_token %}
        <h3>Login Here</h3>
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="username"><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password" placeholder="password"><br><br>
        <input id="mbutton" type="submit">
    </form>
    </div>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
<