body {
    margin: 0px;
    padding: 0px;
    
}




ul li.hello{
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 0;
    color: chartreuse;
   
}



a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px;
   
}





input {
    float: right;
    padding: 5px;
    margin: 1px;
}

div #mbutton {
    background-color: blue;
    float: right;
    font-size: 22px;
    margin: 2px;
    padding: 3px;
    border: black 1px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#mbutton:hover {
    background-color: yellowgreen;
}

output {
    color:blue;
}

.avatar {
    border: 1px solid black;
    border-radius: 50%;    
}


.bbox {
    width: 95%;
    line-height: 80%;
    
}
.bloger {
    width:40%;
    float:left;
}
.detail {
    width:50%;
    float:right;
}